Repository outfitter-dev/carabiner, changes with the labels that .github/labeler.yml gives for each.
All labels: package: error-management, package: execution, package: hooks-core, package: hooks-cli, package: hooks-config, package: hooks-registry, package: hooks-validators, package: hooks-testing, package: examples, package: plugins, package: protocol, package: registry, package: schemas, package: types, documentation, tests, ci/cd, dependencies, config, security, performance, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on changed files (v5 format)

# Package-specific labels
"package: error-management":
  - changed-files:
      - any-glob-to-any-file: packages/error-management/**/*

"package: execution":
  - changed-files:
      - any-glob-to-any-file: packages/execution/**/*

"package: hooks-core":
  - changed-files:
      - any-glob-to-any-file: packages/hooks-core/**/*

"package: hooks-cli":
  - changed-files:
      - any-glob-to-any-file: packages/hooks-cli/**/*

"package: hooks-config":
  - changed-files:
      - any-glob-to-any-file: packages/hooks-config/**/*

"package: hooks-registry":
  - changed-files:
      - any-glob-to-any-file: packages/hooks-registry/**/*

"package: hooks-validators":
  - changed-files:
      - any-glob-to-any-file: packages/hooks-validators/**/*

"package: hooks-testing":
  - changed-files:
      - any-glob-to-any-file: packages/hooks-testing/**/*

"package: examples":
  - changed-files:
      - any-glob-to-any-file: packages/examples/**/*

"package: plugins":
  - changed-files:
      - any-glob-to-any-file: packages/plugins/**/*

"package: protocol":
  - changed-files:
      - any-glob-to-any-file: packages/protocol/**/*

"package: registry":
  - changed-files:
      - any-glob-to-any-file: packages/registry/**/*

"package: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**/*

"package: types":
  - changed-files:
      - any-glob-to-any-file: packages/types/**/*

# Type labels
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - docs/**/*
          - .agent/**/*.md

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/*.spec.tsx"
          - "**/test/**"
          - "**/__tests__/**"

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**/*
          - .github/**/*
          - lefthook.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - packages/*/package.json
          - apps/*/package.json
          - bun.lockb

config:
  - changed-files:
      - any-glob-to-any-file:
          - tsconfig.json
          - packages/*/tsconfig.json
          - apps/*/tsconfig.json
          - turbo.json
          - biome.json
          - .prettierrc

security:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*auth*"
          - "**/*security*"
          - "**/*permission*"
          - "**/*validate*"
          - "**/*sanitize*"

performance:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*perf*"
          - "**/*optimize*"
          - "**/*cache*"
          - "**/*worker*"

breaking-change:
  - changed-files:
      - any-glob-to-any-file:
          - packages/*/src/types.ts
          - packages/*/src/index.ts
          - "**/*breaking*"

fix: revert to @outfitter/hooks-cli in build-binaries (blocked by #68)
  .github/workflows/build-binaries.yml
Labels: ci/cd

fix: update workflow references from @outfitter to @carabiner
  .github/workflows/build-binaries.yml
  .github/workflows/release.yml
Labels: ci/cd

fix(ci): add bash shell declaration for Windows compatibility in build-binaries
  .github/workflows/build-binaries.yml
Labels: ci/cd

fix(ci): resolve test failures and bundle size analysis issues
  .github/workflows/pr-optimized.yml
Labels: ci/cd, performance

chore(ci): standardize on `bunx run ultracite check/fix`; ignore `.conductor/`; ensure Biome respects .gitignore
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-tests.yml
  .gitignore
  biome.json
  package.json
Labels: ci/cd, dependencies, config, performance
